.about {
  padding: 0 20px;
  color: var(--main-text);
  background-color: var(--bg-main);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 40px;
}

.title {
  font-size: 25px;
  margin: 20px 0;

  font-weight: normal;
  text-align: center;
  text-shadow: 7px 7px 3px #1e185054;
}

.text {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: lighter;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-shadow: 7px 7px 3px #1e1850b5;
}

.about_wrapper img {
  border-radius: 8px;
  box-shadow: 11px 19px 25px 4px rgb(0 0 0 / 45%);
}

.aboutText {
  margin-bottom: 60px;
}

.ownProject {
  margin-top: 10px;
  margin-bottom: 14px;
}

/* ========= 768 ==========*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 600px;
    padding: 40px 0 40px;
  }

  .about_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 85px;
  }

  .aboutText {
    width: 256px;
  }

  .title {
    font-size: 19px;
    text-align: left;
  }

  .text {
    font-size: 16px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  .about_img {
    width: 250px;
  }

  .about_imgTop {
    margin-top: 14px;
  }

  .ownProject {
    margin-bottom: 5px;
  }
}

/* ========= 1280 ==========*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1000px;
  }

  .about_wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 75px;
  }

  .aboutText {
    width: 462px;
  }

  .text {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .text_img {
    width: 400px;
  }

  .about_imgTop {
    margin-top: 28px;
  }

  .title {
    font-size: 28px;
    font-weight: normal;
  }

  .ownProject {
    /* margin-top: 50px; */
    margin-bottom: 47px;
  }
}
