.home {
  /* padding: 0 20px; */
  color: var(--main-text);
  background-color: var(--bg-main);
}

/* ==========video=========  */

.fullScreen{

  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

 
}


.fullScreen_body{
  padding: 50px 15px;
  /* background-color: #00000061; */
  background-color: #00000042;

  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.fullScreen_title{
  font-size: 31px;
  color: #190d00;
  letter-spacing: 0.03em;
  
  font-weight: 700;
  margin: 0 0 20px 0;


}


.fullScreen_text{
  font-size: 23px;
  font-weight: 700;
  /* color: #f77b00; */
  color: #190d00;
  text-align: center;
  letter-spacing: 0.03em;

}


.fullScreen_video{
  position: absolute;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
         


/*  */

.container {
  /* position: relative;
  z-index: 5; */
  /* width: 100%; */
  margin: 0 auto;
  padding: 30px 20px 40px 20px;
  
}

.home img {
  margin: 20px 0 40px;
  width: 200px;
  border-radius: 16px;
  box-shadow: 11px 19px 25px 4px rgb(0 0 0 / 45%);
}

.title {
  font-size: 25px;
  font-weight: normal;

  line-height: 1.71;
  letter-spacing: 0.03em;
  text-shadow: 7px 7px 3px #1e185054;
}

.text {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 20px;

  text-shadow: 7px 7px 3px #1e1850b5;
}



/* ========= 768 ==========*/


@media screen and (min-width: 768px) {
  .container {
    width: 400px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
}

/* @media screen and (min-width: 768px) {
  .home img {
    width: 300px;
  }
} */

/* @media screen and (min-width: 768px) {
  h1 {
    font-size: 31px;
    text-align: center;
  }

  .home_text {
    font-size: 18px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
} */

/* ========= 1280 ==========*/

@media screen and (min-width: 1280px) {
  .container {
    width: 770px;
    padding: 80px 0 100px;
  }
}

/* @media screen and (min-width: 1280px) {
  h1 {
    font-size: 36px;
  }

  .home_text {
    font-size: 30px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
} */

